@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";
@theme {
        --color-clifford: #da373d;
        --breakpoint-md: 576px;
        --breakpoint-lg: 992px;
      }



* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradientFlow 3s linear infinite;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 8px solid #00FF88;
  letter-spacing: 0.10em;
  margin: 0 auto;
  animation: typing 8s steps(19) infinite , blink-caret .75s step-end infinite;
  
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%;}
  50% { background-position: 100% 50%;}
  100% { background-position: 200% 50%;}
}

@keyframes typing {
  0%{width: 0;}
  40%{width: 20ch;}
  80%{width:20ch;}
  90%{width: 0;}
  100%{width: 0;}
}
@keyframes blink-caret{
  from,to {border-color: transparent;}
  50%{border-color: #00FF88;}
}

