@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";
@theme {
        --color-clifford: #da373d;
        --breakpoint-md: 576px;
        --breakpoint-lg: 992px;
      }



* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


